/* index.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}

button:hover {
  border-color: #646cff;
}





/* 确保 Ant Design 组件不会被 Tailwind 影响 */
:where(.css-dev-only-do-not-override-1wazalj).ant-btn {
  @apply shadow-none;
}